//TODO LO COMUN AL PROYECTO
*{
    padding: 0;
    margin: 0;
    font-family: $mainFont;
}
html{
    font-size: 100%;
    font-family: monospace;
    border: #000000;
}

// MAPS

$paleta: (
    'uno': #c085339a,
    'dos': #b89869,
    'tres': #dbd79a,
    'cuatro': #664f14,
    'cinco': #ffffff,
);

// FIN MAPS

.centrarFoto{
    @extend .textCenter;
    padding: 2%;
    width: 70%;
    max-width: 960px;
    margin: 0 auto;
}
.fotoDuenos{
    box-shadow: 10px 10px 10px black;
    width: 35vw;
    height: 100%;
    margin: auto;
}
.padd{
    padding: 0.5%;
}
.flexCont{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    line-height: 5px;
    justify-content: space-between;
    align-items: flex-end;
}
h1{
    @extend .textCenter;
}
h1 h2{
    color: map-get($map: $paleta, $key: 'cuatro');
    font-size: $textXxl;
}
fieldset{
    margin: auto;
    border: 2px solid rgb(3, 3, 1);
    width: 600px;
}
legend{
    font-size: xx-large
}
.textoCentrado{
    @extend .textCenter;
    width: 90%;
    margin: auto;
    padding: 20px;
}
.fotoCentrada{
    margin: auto;
}
.sectionFoto{
    @extend .width;
    max-width: auto;
    margin: 0 auto;
}
.imgSection{
    @extend .width;
    height: auto;
}
main{
    @extend .textCenter;
}
.tamano{
    @extend .width;
    height: 100%;
}
.text-center{
    @extend .textCenter;
}
//HEADER
header{
    margin: 15px;
    background-color: map-get($map: $paleta, $key: 'uno');
    margin: auto;
    font-size: $textXl;
    text-align: center;
}
.list-style{
    list-style: none;
}
.interlineado{
    line-height: 2rem;
}
.flex-container{
    background-color: none;
    width: 100px;
    margin: 10px;
    @extend .textCenter;
    line-height: 75px;
    font-size: $muyGrandelg;
}
.alineado{
    display: flex;
    align-items: center;
    @extend .textCenter;
}
.accordion-button:not(collapsed){
    color: inherit;
    background: $accordion1;
    color: $white;
    &:hover{
        background: map-get($map: $paleta, $key: 'tres');
    }
}

