@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

//VARS FONTS
$mainFont: 'Inter', sans-serif;

//FONTS SIZE
$textSm: 0.8rem;
$textMd: 1rem;
$textLg: 1.5rem;
$textXl: 2rem;
$textXxl: 3rem;
$muyGrande: 20px;
$muyGrandelg: 30px;
