@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

//VARS FONTS
$mainFont: 'Raleway', sans-serif;

//FONTS SIZE
$textSm: 0.8rem;
$textMd: 1rem;
$textLg: 1.3rem;
$textXl: 2rem;
$textXxl: 3rem;
$muyGrande: 20px;
$muyGrandelg: 30px;

