// MIXIN 

@mixin font ($size,$fontw,$color){
    font-size: $size;
    font-weight: $fontw;
    color: $color;
}

.titulos{
    @include font($muyGrande,bold,$titColor)
}
p{
    @include font($textLg, bold, $pColor)
       
}

// EXTEND

.width{
    width: 100%;
}

.textCenter{
    text-align: center;
}

