<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Un Cafe</title>
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="padd">
        <header>Un Cafe Para Empezar El Dia</header>
            <nav class="padd">
                <a href="../index.html">
                <img class="logo" src="../img/logo.jpg" alt="Logo Cafe">
                </a>
                <ul class="list-style">
                    <li><img src="../img/granodecafe.png" alt="granodecafe"></li>
                    <li><a class="botones" href="../index.html">Inicio</a></li>
                    <li><a class="botones" href="cafe.html">Cafe</a></li>
                    <li><a class="botones" href="quienessomos.html">Quienes Somos</a></li>
                    <li><a class="botones" href="productos.html">Productos</a></li>
                    <li><a class="botones" href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
    </div>
    <main>
        <div class="textoCentrado">
            <h1>Tipos de Cafe</h1>
            <article class="titulos">Cafe Colombiano</article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dolorem magnam laudantium maxime quis, cumque sunt facere ut saepe, voluptatum dolore! Modi nemo aliquid animi iste voluptate optio qui tempora.</p>
            <article class="titulos">Cafe Brasilero</article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dolorem magnam laudantium maxime quis, cumque sunt facere ut saepe, voluptatum dolore! Modi nemo aliquid animi iste voluptate optio qui tempora.</p>
            <H2>Porque Tomar Cafe</H2>
            <p>Combate el envejecimiento prematuro, Disminuye el riesgo de padecer un ACV o una cardiopatía, Es una fuente de energía positiva, Baja la probabilidad de desarrollar diabetes tipo 2, Mejora los síntomas del asma, Previene la cirrosis, Retrasa la aparición del Alzheimer, Combate la celulitis, Ayuda a disminuir el dolor de cabeza, Resulta protector y digestivo, Mejora el rendimiento deportivo y Es un exfoliante de la piel</p>
        </div>
    </main>
    <footer>
        <div class="alineado">
            <input type="Mail" id="mail" placeholder="Email">
            <a href="https://www.facebook.com/cofijaus" target="_blank">
            <img src="../img/facebook.png" alt="facebook">
            </a>
            <a href="https://www.instagram.com/cofijaus/" target="_blank">
            <img src="../img/instagram.png" alt="instagram">
            </a>
            <a href="https://api.whatsapp.com/send?phone=5491156978756" target="_blank">
            <img src="../img/whatsapp.png" alt="whatsapp">
            </a>
        </div>
    </footer>
</body>
</html>