<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Acompañado de un café de calidad, comida dulce y saladas, pueden ser el lugar perfecto para reuniones de negocios formales e informales con los clientes. Por otro lado, también pueden ser un excelente lugar para conocer gente nueva. Veni a conocernos.">
    <meta name="author" content="Leonel Fandos">
    <title>Un Cafe</title>
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
        <header>UN CAFÉ PARA EMPEZAR EL DÍA</header>

    <main>
        <div class="card bg-dark text-white">
            <img src="../img/granos.jpg" class="card-img" alt="fondo error">
            <div class="card-img-overlay">
              <h1 class="card-title fs-1 fw-bold mb-3">ERROR 404</h1>
              <p class="card-text h2 fw-bold mb-3 bg-light">DISCULPE, NO HEMOS PODIDO ENCONTRAR LA PAGINA QUE BUSCAS</p>
              <p class="card-text h2 fw-bold mb-3 bg-light"> AQUI TENES UN ENLACES PARA SEGUIR NAVEGANDO </p>
              <a class="fs-3 text-light bg-dark mb-3" href="../index.html">INICIO</a>
              <div>
                <img class="w-50 p-4" src="../img/tomandocafe.webp" alt="tomando cafe">
              </div>
            </div>
            
          </div>
    </main>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>