<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Un Cafe</title>
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="padd">
    <div class="grid templateArea grid-column"> 
    <header class="header">Un Cafe Para Empezar El Dia</header>
    <nav class="padd nav">
            <a href="../index.html">
            <img class="logo" src="../img/logo.jpg" alt="Logo Cafe">
            </a>
            <ul class="list-style">
                <li><img src="../img/granodecafe.png" alt="granodecafe"></li>
                <li><a class="botones" href="../index.html">Inicio</a></li>
                <li><a class="botones" href="cafe.html">Cafe</a></li>
                <li><a class="botones" href="quienessomos.html">Quienes Somos</a></li>
                <li><a class="botones" href="productos.html">Productos</a></li>
                <li><a class="botones" href="contacto.html">Contacto</a></li>
            </ul>
    </nav>
    <aside class="aside">
        <ul>
            <li>CAFE</li>
            <li>CAFE CON LECHE</li>
            <li>FUERTE</li>
            <li>SUAVE</li>
            <li>LIVIANO</li>
        </ul>
    </aside>
    <main class="main flexCont">
            <div>
                <p>Cafe Americano</p>
                <img src="../img/cafeamericano.jpg" alt="cafe americano">
            </div>
            <div>
                <p>Cafe Doble</p>
                <img src="../img/cafedoble.jpg" alt="cafe doble">
            </div>
            <div>
                <p>Cafe Solo</p>
                <img src="../img/cafesimple.jpg" alt="cafe solo">
            </div>
            <div>
                <p>Cafe Manchado</p>
                <img src="../img/cafemanchado.jpg" alt="cafe manchado">
            </div>
            <div>
               <p>Cafe Largo</p>
                <img src="../img/cafelargo.jpg" alt="cafe largo">
            </div>
            <div>
                <p>Cafe con Leche</p>
                <img src="../img/cafeconleche.jpg" alt="cafe con leche">
            </div>
    </main>
    <footer class="footer">
        <div class="alineado">
            <input type="Mail" id="mail" placeholder="Email">
            <a href="https://www.facebook.com/cofijaus" target="_blank">
            <img src="../img/facebook.png" alt="facebook">
            </a>
            <a href="https://www.instagram.com/cofijaus/" target="_blank">
            <img src="../img/instagram.png" alt="instagram">
            </a>
            <a href="https://api.whatsapp.com/send?phone=5491156978756" target="_blank">
            <img src="../img/whatsapp.png" alt="whatsapp">
            </a>
        </div>
    </footer>
    </div>               
</body>
</html>