<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Un Cafe</title>
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="padd">
    <div> 
    <header class="header">Un Cafe Para Empezar El Dia</header>
    <!--Empieza la navbar-->
    <nav class="navbar navbar-expand-md navbar-light bg-null padd">
        <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><img class="logo" src="../img/logo.jpg" alt="logo cafe"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li><img src="../img/granodecafe.png" alt="granodecafe"></li>
                <li class="nav-item">
                <a class="botones nav-link active" aria-current="page" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                <a class="botones nav-link active" aria-current="page" href="cafe.html">Cafe</a>
                </li>
                <li class="nav-item">
                <a class="botones nav-link active" aria-current="page" href="quienessomos.html">Quienes Somos</a>
                </li>
                <li class="nav-item">
                <a class="botones nav-link active" aria-current="page" href="productos.html">Productos</a>
                </li>
                <li class="nav-item">
                <a class="botones nav-link active" aria-current="page" href="contacto.html">Contactos</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
  <!--Termina la navbar-->
    </div>
    <div class="d-flex align-items-stretch p-5">
    <aside class="aside">
        <ul>
            <li>CAFE</li>
            <li>CAFE C/ LECHE</li>
            <li>FUERTE</li>
            <li>SUAVE</li>
            <li>LIVIANO</li>
        </ul>
    </aside>
    <main class="main flexCont">
        <div class="container">
            <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 card mt-4" style="width: 15rem;">
            <img src="../img/cafeamericano.jpg" class="card-img-top" alt="Cafe americano">
            <div class="card-body">
              <h5 class="card-title fs-4 fw-bold">Cafe Americano</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item lh-sm fs-5">El café americano, refiriéndose al café típico que se bebe en los Estados Unidos, es la mezcla de agua caliente y café procesado en una cafetera con filtro de café.</li>
            </ul>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 card mt-4" style="width: 15rem;">
            <img src="../img/cafedoble.jpg" class="card-img-top" alt="Cafe doble">
            <div class="card-body">
              <h5 class="card-title fs-4 fw-bold">Cafe Doble</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item lh-sm fs-5">El espresso doble, también comúnmente llamado café doble, se hace preparando dos cafés espresso en la taza de cappuccino. No confundir con el espresso largo.</li>
            </ul>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 card mt-4" style="width: 15rem;">
            <img src="../img/cafesimple.jpg" class="card-img-top" alt="Cafe">
            <div class="card-body">
              <h5 class="card-title fs-4 fw-bold">Cafe</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item lh-sm fs-5">El café es la bebida que se obtiene a partir de los granos tostados y molidos de los frutos de la planta del café; es altamente estimulante por su contenido de cafeína.</li>
            </ul>
        </div>   
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 card mt-4" style="width: 15rem;">
            <img src="../img/cafemanchado.jpg" class="card-img-top" alt="Cafe manchado">
            <div class="card-body">
              <h5 class="card-title fs-4 fw-bold">Cafe Manchado</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item lh-sm fs-5">El café manchado o macchiato en italiano, también llamado espresso macchiato, es un café cortado de Italia, es un expreso con una pequeña cantidad de leche caliente y espumada.</li>
            </ul>
        </div>    
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 card mt-4" style="width: 15rem;">
            <img src="../img/cafedoble.jpg" class="card-img-top" alt="Cafe doble">
            <div class="card-body">
              <h5 class="card-title fs-4 fw-bold">Cafe Doble</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item lh-sm fs-5">El espresso doble, también comúnmente llamado café doble, se hace preparando dos cafés espresso en la taza de cappuccino. No confundir con el espresso largo.</li>
            </ul>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 card mt-4" style="width: 15rem;">
            <img src="../img/cafesimple.jpg" class="card-img-top" alt="Cafe">
            <div class="card-body">
              <h5 class="card-title fs-4 fw-bold">Cafe</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item lh-sm fs-5">El café es la bebida que se obtiene a partir de los granos tostados y molidos de los frutos de la planta del café; es altamente estimulante por su contenido de cafeína.</li>
            </ul>
        </div>   
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 card mt-4" style="width: 15rem;">
            <img src="../img/cafemanchado.jpg" class="card-img-top" alt="Cafe manchado">
            <div class="card-body">
              <h5 class="card-title fs-4 fw-bold">Cafe Manchado</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item lh-sm fs-5">El café manchado o macchiato en italiano, también llamado espresso macchiato, es un café cortado de Italia, es un expreso con una pequeña cantidad de leche caliente y espumada.</li>
            </ul>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 card mt-4" style="width: 15rem;">
            <img src="../img/cafelargo.jpg" class="card-img-top" alt="Cafe lungo">
            <div class="card-body">
              <h5 class="card-title fs-4 fw-bold">Cafe Lungo</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item lh-sm fs-5">Lungo es una bebida de café hecha usando una máquina de espresso para hacer un café al estilo italiano: negro corto con más agua, lo que da como resultado un café más grande.</li>
            </ul>
        </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 card mt-4" style="width: 15rem;">
            <img src="../img/cafeconleche.jpg" class="card-img-top" alt="Cafe con leche">
            <div class="card-body">
              <h5 class="card-title fs-4 fw-bold">Cafe Con Leche</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item lh-sm fs-5">El café con leche es una de las bebidas más comunes que incluyen café. Consta básicamente de dos ingredientes: café y leche, pero ronda la mezcla por partes iguales.</li>
            </ul>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 card mt-4" style="width: 15rem;">
                <img src="../img/cafeconleche.jpg" class="card-img-top" alt="Cafe con leche">
                <div class="card-body">
                  <h5 class="card-title fs-4 fw-bold">Cafe Con Leche</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item lh-sm fs-5">El café con leche es una de las bebidas más comunes que incluyen café. Consta básicamente de dos ingredientes: café y leche, pero ronda la mezcla por partes iguales.</li>
                </ul>
                </div>
            </div>
        </div>
    </main>
    </div>
    <footer class="bg-light text-center text-black mt-5">
        <!-- Grid container -->
    <div class="d-inline-flex bd-highlight container-fluid p-3 border-top justify-content-center" style="background-color: #ffffff;">
      <section class="mb-4 mr-6 mt-2">
        <a class="btn m-1 border-end border-3" style="background-color: #ffffff;"href="https://www.instagram.com/cofijaus/"role="button">
            <img src="../img/instagram.png" alt="instagram" width="35px" height="35px">
        </a>
        <a class="btn m-1" style="background-color: #ffffff;"href="https://www.facebook.com/cofijaus"role="button">
            <img src="../img/facebook.png" alt="facebook" width="35px" 
            height="35px"  >
        </a>
        <a class="btn m-1 border-start border-3" style="background-color: #ffffff;"href="https://api.whatsapp.com/send?phone=5491156978756"role="button">
            <img src="../img/whatsapp.png" alt="whatsapp" width="35px" 
            height="35px">
        </a>
        <a href="productos.html">
          <button type="button" class="btn btn-lg btn-secondary text-dark ms-3 mt-2" style="background-color: #fff">subir</button>
      </a>
    </section>
    </div>
        <!-- Grid container -->
  </footer>
   
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>            
</body>
</html>