<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Un Cafe</title>
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="padd">
    <div class="grid templateArea grid-column"> 
    <header class="header">Un Cafe Para Empezar El Dia</header>
    <!--Empieza la navbar-->
    <nav class="navbar navbar-expand-md navbar-light bg-light padd">
        <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><img class="logo" src="../img/logo.jpg" alt="logo cafe"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li><img src="../img/granodecafe.png" alt="granodecafe"></li>
                <li class="nav-item">
                <a class="botones nav-link active" aria-current="page" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                <a class="botones nav-link active" aria-current="page" href="cafe.html">Cafe</a>
                </li>
                <li class="nav-item">
                <a class="botones nav-link active" aria-current="page" href="quienessomos.html">Quienes Somos</a>
                </li>
                <li class="nav-item">
                <a class="botones nav-link active" aria-current="page" href="productos.html">Productos</a>
                </li>
                <li class="nav-item">
                <a class="botones nav-link active" aria-current="page" href="contacto.html">Contactos</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
  <!--Termina la navbar-->
    <aside class="aside">
        <ul>
            <li>CAFE</li>
            <li>CAFE CON LECHE</li>
            <li>FUERTE</li>
            <li>SUAVE</li>
            <li>LIVIANO</li>
        </ul>
    </aside>
    <main class="main flexCont">
            <div>
                <p>Cafe Americano</p>
                <img src="../img/cafeamericano.jpg" alt="cafe americano">
            </div>
            <div>
                <p>Cafe Doble</p>
                <img src="../img/cafedoble.jpg" alt="cafe doble">
            </div>
            <div>
                <p>Cafe Solo</p>
                <img src="../img/cafesimple.jpg" alt="cafe solo">
            </div>
            <div>
                <p>Cafe Manchado</p>
                <img src="../img/cafemanchado.jpg" alt="cafe manchado">
            </div>
            <div>
               <p>Cafe Largo</p>
                <img src="../img/cafelargo.jpg" alt="cafe largo">
            </div>
            <div>
                <p>Cafe con Leche</p>
                <img src="../img/cafeconleche.jpg" alt="cafe con leche">
            </div>
    </main>
    <footer class="footer">
        <div class="alineado">
            <input type="Mail" id="mail" placeholder="Email">
            <a href="https://www.facebook.com/cofijaus" target="_blank">
            <img src="../img/facebook.png" alt="facebook">
            </a>
            <a href="https://www.instagram.com/cofijaus/" target="_blank">
            <img src="../img/instagram.png" alt="instagram">
            </a>
            <a href="https://api.whatsapp.com/send?phone=5491156978756" target="_blank">
            <img src="../img/whatsapp.png" alt="whatsapp">
            </a>
        </div>
    </footer>
    </div>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>            
</body>
</html>