<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Si hay una época en la que cualquier porteño disfruta de tomarse un buen café entre las callecitas de Buenos Aires o en algún barrio pintoresco, esa es sin dudas el invierno.">
    <meta name="author" content="Leonel Fandos">
    <meta name="keywords" content="Nuestra Historia, un buen cafe, buenos aires, tomar un cafe">
    <meta name="revised" content="14/07/2022">
    <meta name="subject" content="Cafeteria">
    <meta name="robots" content="index, follow">
    <meta name="title" content="Quienes Somos">
    <meta name="revisit-after" content="15 days">
    <title>Un Cafe</title>
    <link rel="shortcut icon" href="../img/favicon.png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="text-center" id="header">UN CAFÉ PARA EMPEZAR EL DÍA</header>
    <!--Empieza la navbar-->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="../index.html"><img class="logo" src="../img/logo.jpg" alt="logo de la cafeteria"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../index.html"><button type="button" class="btn btn-outline-dark fw-bolder fs-5">INICIO</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="cafe.html"><button type="button" class="btn btn-outline-dark fw-bolder fs-5">CAFÉ</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="quienessomos.html"><button type="button" class="btn btn-outline-dark fw-bolder fs-5">QUIENES SOMOS</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="productos.html"><button type="button" class="btn btn-outline-dark fw-bolder fs-5">PRODUCTOS</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="contacto.html"><button type="button" class="btn btn-outline-dark fw-bolder fs-5">CONTACTO</button></a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
  <!--Termina la navbar-->
    <main>

        <!-- empieza el bs -->
        <div class="container">
            <div class="row">
                <div class="col p-4">
                    <h1>Nuestra historia en Argentina</h1>
                </div>
            </div>
            <div class="row container-md">
                <div class="col-sm-6 p-3">
                    <img width="250x250" height="auto" src="../img/duenoscafeteria.jpg" class="rounded-pill" alt="nosotros, los dueños de la cafeteria">
                </div>
                <div class="col-sm-6 p-4">
                    <p class="lh-base">Si hay una época en la que cualquier porteño disfruta de tomarse un buen café entre las callecitas de Buenos Aires, esa es sin dudas el invierno. En el país más austral del mundo, juntarse a tomar un café representa una tradición.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 p-4">
                    <p class="lh-base">Por eso, el 30 de mayo de 2008, cuando abrimos la primer tienda en la Argentina, en el Alto Palermo Shopping, el desafío fue conquistar desde la experiencia a una comunidad habituada a disfrutar del café desde toda perspectiva posible.</p>
                </div>
                <div class="col-md-4">
                    <img class="p-3 rounded-pill" width="230x330" src="../img/desayuno1.jpg" alt="un desayuno que tenemos en el menu de la cafeteria">
                </div>
                <div class="col-md-4 p-4">
                    <p class="lh-base">A 13 años de ese mayo, diariamente 131 tiendas de Starbucks abren sus puertas cada mañana en todo el país. Con presencia en Buenos Aires, Rosario, y Mendoza, actualmente más de 3.500 empleados trabajando para disfrutar de la experiencia.</p>
                </div>
            </div>
            <div class="row">
                <div class="col p-4">
                    <p class="lh-base">En 1982 el empresario Howard Schultz se incorporó a la empresa. En 1983 Howard viajó a Italia y quedó impresionado por las cafeterías italianas y la experiencia del café.</p>
                </div>
                <div class="col">
                    <img width="300x200" src="../img/desayuno2.jpg" class="rounded-pill" alt="desayuno de la cafeteria">
                </div>
            </div>
            <div class="row">
                <div class="col p-4">
                    <p class="lh-base">Tuvo la visión de traer la tradición de los cafés italianos a Estados Unidos y de crear un lugar para la conversación y el sentido de comunidad.</p>
                </div>
            </div>
        </div>
          <!-- termina bs -->
    </main>
    </div>
    <footer class="bg-light text-center text-black mt-5">
        <!-- Grid container -->
    <div class="d-inline-flex bd-highlight container-fluid p-3 border-top justify-content-center" style="background-color: #ffffff;">
      <section class="mb-4 mr-6 mt-2">
        <a class="btn m-1 border-end border-3" style="background-color: #ffffff;"href="https://www.instagram.com/cofijaus/"role="button">
            <img src="../img/instagram.png" alt="logo instagram" width="35px" height="35px">
        </a>
        <a class="btn m-1" style="background-color: #ffffff;"href="https://www.facebook.com/cofijaus"role="button">
            <img src="../img/facebook.png" alt="logo facebook" width="35px" 
            height="35px"  >
        </a>
        <a class="btn m-1 border-start border-3" style="background-color: #ffffff;"href="https://api.whatsapp.com/send?phone=5491156978756"role="button">
            <img src="../img/whatsapp.png" alt="logo whatsapp" width="35px" 
            height="35px">
        </a>
      
          <!-- Section: Social media -->
    </section>
    </div>
        <!-- Grid container -->
  </footer>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>